
@{
    ViewBag.Title = "ProductTable";
}
<div class="container">

    <div id="tableContainer">

        @{
            Html.RenderAction("ProductTable");
        }
    </div>
    <div id="actionContainer">

    </div>

</div>